button.input-button {
  color: rgb(62,255,0);
  background-color: rgb(0,0,0);
  padding: 35px;
  font-size: 20px;
  border: none;
  display: inline-block;
}

button.result-button {
  color: rgb(62,255,0);
  background-color: rgb(0,0,0);
  padding: 35px;
  font-size: 20px;
  border: none;
  display: inline-block;
}

body {
  background-color: rgb(0,0,0);
}

h2#before-result {
  color: rgb(180,180,180);
  text-align: right;
}

h1#input-bang {
  color: rgb(255,255,255);
  text-align: right;
}

div.buttons {
  border-top-style: solid;
  border-top-color: #9d9d9d;
  border-top-width: 1px;
}